*{
    margin: 10px;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: #e3ebff;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    padding: 40px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #F4F7FF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.logo{
    color: #292929;
}
.active a,
.menu li a:hover{
    border-radius: 30px;
    background-color: #292929;
    color: #FFF!important;
    font-weight: bold;
    transition: all ease 0.4s;
}
.image{
    text-align: center;
}
.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.der{
    width: 250px;
    height: 250px;
    float: right;
}

h2{
    padding-top: 15px;
}

#contacto {
    padding: 10px 10px;
}

.contenedor{
    margin: 10px;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}
i{
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
}

#microsoft:hover{
    background-color: rgba(60, 150, 252, 0.582);
    color: white;
    box-shadow: 0 0 10px rgba(60, 150, 252, 0.582),
                0 0 15px rgba(60, 150, 252, 0.582),
                0 0 20px rgba(60, 150, 252, 0.582);

} 

#github:hover{
    background-color: #171515;
    color: white;
    box-shadow: 0 0 10px #171515,
                0 0 15px #171515,
                0 0 20px #171515;

} 

#linkedin:hover{
    background-color: #0e76a8;
    color: white;
    box-shadow: 0 0 10px #0e76a8,
                0 0 15px #0e76a8,
                0 0 20px #0e76a8;

} 

#google:hover{
    background-color: #db4a39;
    color: white;
    box-shadow: 0 0 10px #db4a39,
                0 0 15px #db4a39,
                0 0 20px #db4a39;

} 

footer{
    position: relative;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

